<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
</head>

<body>
    <div id="app">
        <input type="text" v-model="myName">
        <comp-tag><span style="color:red;">{{ myName }}</span></comp-tag>
    </div>

    <script src="../../common/js/vue_global.js"></script>
    <script type="module">
        // Slotの使用
		const { createApp } = Vue
        import CompTag from './component6.js'

        createApp({
            components: {
                CompTag
            },
            data(){
                return{
                    myName: ''
                }
            }
        })
        .mount('#app')
    </script>
</body>

</html>